.conteiner {
    display: flex;
    flex-direction: row;
    gap:1%;
    align-items: center;
}

.textBox{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.count{
    font-size: 30px;
}
img{
    width:85%;
}