
.nav{
    display: flex;
    flex-direction: row;
    justify-content:end;
    align-items:center;
    gap: 10px;
    padding: 2%;
    background-color:green;
    height: 5px;
    color:white;
}
.languegeBar{
    padding-right: 12%;
}
.btnDropdownMenu{
    background-color:white;
    border:1px solid gray;
    border-radius: 4px;
    height: 27px;
    width: 150%;
    text-align:start;
}

.top{
    display:flex;
    flex-direction: row;
    gap: 20px;
    justify-content:center;
    /* padding-left: 5%;*/
    padding-top: 2%;
    padding-bottom: 2%; 
    align-items:center;
    
}

.logo{ 
    display:flex;
    justify-content: flex-start;
    align-items:start;
    height:40px;
    
}
.topMenu{ 
    display:flex;
    gap:10px;
    color: #b6b3b3de;
    padding-left: 2%;
    padding-right: 25%;
    width: 100%;
}
.search{ 
    display:flex;
    gap:5px;
    padding-right: 10%;
}
.searchBox{ 
    border:0.5px solid rgba(189, 188, 188, 0.87);
    border-radius: 4px;
    height: 22px;
   
    
}
.searchButton{ 
    height: 26px;
    border:1px solid green;
    border-radius: 4px;
    background-color:green;
    color:white;

}

/*parallax*/
.parallax{
  display: flex;
  flex-direction: column;
  align-items:center;
  margin-top:15%;
}
.parallaxText{ 
    color:white;
    justify-content:center;
    font-size: xx-large;
  }
  .btnLearnMore{
    border:1px solid green;
    border-radius: 4px;
    background-color:green;
    color:white;
    height:35px;
  }

  .userSection{
      width:100%;
      
  }

  /*counter*/

  .count{
      display: flex;
      flex-direction: row;
      gap:2%;
      justify-content:center;
      margin-top:4%;

  }