/* .userParallax{
    display: flex;
    flex-direction: row;
    gap: 2%;
    margin-top: 8%;
    justify-content:center;
    background-size: cover;
    overflow: hidden;
    background-attachment: fixed;
    background-position: center;
    object-fit: cover;
   
    min-height: 100px;
    
}
.company{
    width: 25%;
}
.companyText{ 
    color:green;
    position: absolute;
    z-index: -1;
    
   

}
.products{
    width:25%;
    
}
.contactUs{
    width: 25%;
    object-fit: cover;
    position: relative;
    text-align: center;
   
}
.text-on-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  } */


.userSection{
    display: flex;
    flex-direction:row;
    margin-top: 8%;
    margin-left:4%;
    margin-right:4%;
    justify-content: center;
    align-content: stretch;
   
}

  .companyContainer{
    position: relative;
    text-align: center;
    

  }
  .company{
    border-radius: 4px;
    width:80%;
  }

  .companyText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    
  }